// colors
$color-white: #ffffff;
$color-smoke: #858c8c;
$color-blue: #a4c8dc;
$color-black: #041416;
$color-black-space: #2f383d;

$main-color: $color-white;
$second-color: $color-black;
$primary-color: $color-blue;

// fonts
$main-font: "Montserrat", sans-serif;
$headline-font: "Boomboom";

// :root {
//   --main-color: $color-white;
//   --second-color: $color-black;
//   --primary-color: $color-blue;
// }
