.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;

  &__sub_headline {
    font-size: 16px;
    margin-bottom: 15px;
  }
  &__headline {
    font-size: 36px;
    line-height: 120%;
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
